<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="light">
                <p class="text-faded">The <em>Friends of KFLA</em>&mdash;also known as the <em>Alliance of Leadership Fellows</em>&mdash;is a nonprofit founded in 2017 by a consortium of alumni from W.K. Kellogg Foundation leadership programs.</p>
                <p class="text-faded">We partner with the Kellogg Fellows Leadership Alliance (KFLA) and others who support & inspire individuals to advocate and act for change in their communities.</p>
            </div>
        </div>
    </div>
</section>
