<section id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donate</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-envelope wow bounceIn text-primary"></i>
                    <h3>Check</h3>
                    <p class="text-muted">Send donations by check to:</p>
                    <p class="text-muted">Friends of KFLA<br>1633 Fillmore St, Suite 112<br>Denver, CO 80216</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Card + Direct Deposit</h3>
                    <p class="text-muted">Donate by credit card or ACH transfer by calling our team at:</p>
                    <p class="text-muted">303-839-5352</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Stock & Bonds</h3>
                    <p class="text-muted">To arrange a gift of stock or bonds, contact our team at</p>
                    <p class="text-muted"><a href="mailto:info@friendsof.kfla.org">info@friendsof.kfla.org</a><br>or 303-839-5352</p>
                </div>
            </div>
            <!--<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>-->
        </div>
    </div>
</section>
