<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">&nbsp</h2>
                <hr class="primary">
                <img src="img/logo_sm.png" class="img-responsive; display:inline;" alt="Friends of KFLA">
                <p class="text-left">ALLIANCE OF LEADERSHIP FELLOWS, INC.<br>d/b/a FRIENDS OF KFLA</p>
                <p class="text-left">Tax ID Number: 82-2360146</p>
                <p class="text-left"><a href="mailto:info@friendsof.kfla.org">info@friendsof.kfla.org</a></p>
                <p class="text-left">1633 Fillmore St. Suite 112<br>Denver, CO 80218</p>
            </div>

    </div>
</section>
