<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!--<h1>Your Favorite Source of Free Bootstrap Themes</h1>-->
            <img src="img/logo_lg.png" class="img-responsive; display:inline;" alt="Friends of KFLA">
            <hr>
            <p>The Alliance of Leadership Fellows <span style="color:#e8ac54;">&amp;</span> Friends of KFLA</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More &raquo;</a>
        </div>
    </div>
</header>
