<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="primary">
                <p>Our mission is to facilitate activities and programs that convene, inform, and support ongoing philanthropic and service related activities that exemplify the principles guiding various leadership and fellowship programs previously funded by the W. K. Kellogg Foundation, and other foundations, which have been organized to inspire individuals to advocate and act for change in their communities.</p>
            </div>
    </div>
</section>
